In [1]:
#importando as bibliotecas necessárias para acessar o diretório e trabalhar os dados (antes da construção de gráficos)

import os
import pandas as pd

In [2]:
#mudando o diretório para onde se encontra o arquivo

print('Diretório inicial: {}'.format(os.getcwd()))
os.chdir('C:/Users/ppomp/Documents/Python')

Diretório inicial: C:\Users\ppomp

In [3]:
#verificando se deu certo

print('novo diretório: {}'.format(os.getcwd()))

novo diretório: C:\Users\ppomp\Documents\Python

In [4]:
#lendo o arquivo como Data Frame

tabela_bruta_comercio_internacional = pd.read_csv('WTD_trabalho.py.csv', sep = ',',  encoding = 'ISO-8859-1')

C:\Users\ppomp\AppData\Local\Temp\ipykernel_17536\1575459810.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  tabela_bruta_comercio_internacional = pd.read_csv('WTD_trabalho.py.csv', sep = ',',  encoding = 'ISO-8859-1')

In [65]:
#aumentar número de linhas e colunas visualizáveis para ter um entendimento melhor da base d 
pd.options.display.max_rows = 30
pd.options.display.max_columns = 24
pd.options.display.max_colwidth = 100

tabela_bruta_comercio_internacional

,Indicator Category,Indicator Code,Indicator,Reporting Economy Code,Reporting Economy ISO3A Code,Reporting Economy,Partner Economy Code,Partner Economy ISO3A Code,Partner Economy,Product/Sector Classification Code,Product/Sector Classification,Product/Sector Code,Product/Sector,Period Code,Period,Frequency Code,Frequency,Unit Code,Unit,Year,Value Flag Code,Value Flag,Text Value,Value
0,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,NaN,NaN,NaN,126.432000
1,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,004,AFG,Afghanistan,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,E,Estimate,NaN,85.260000
2,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,NaN,NaN,NaN,138.571000
3,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,012,DZA,Algeria,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,E,Estimate,NaN,104.676000
4,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,016,ASM,American Samoa,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,E,Estimate,NaN,101.862000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97659,Trade in commercial services,ITS_CS_QX,Commercial services exports by main sector  quarterly,927,NaN,Euro Area (19),ZX9,NaN,Extra Euro Area (19) Trade,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SPX4,Goods-related services,Q1,First Quarter,Q,Quarterly,USM,Million US dollar,2022,NaN,NaN,NaN,15312.113403
97660,Trade in commercial services,ITS_CS_QX,Commercial services exports by main sector  quarterly,927,NaN,Euro Area (19),ZX9,NaN,Extra Euro Area (19) Trade,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SPX4,Goods-related services,Q1,First Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,13330.434057
97661,Trade in commercial services,ITS_CS_QX,Commercial services exports by main sector  quarterly,927,NaN,Euro Area (19),ZX9,NaN,Extra Euro Area (19) Trade,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SPX4,Goods-related services,Q2,Second Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,13603.131178
97662,Trade in commercial services,ITS_CS_QX,Commercial services exports by main sector  quarterly,927,NaN,Euro Area (19),ZX9,NaN,Extra Euro Area (19) Trade,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SPX4,Goods-related services,Q3,Third Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,13175.430665
97663,Trade in commercial services,ITS_CS_QX,Commercial services exports by main sector  quarterly,927,NaN,Euro Area (19),ZX9,NaN,Extra Euro Area (19) Trade,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SPX4,Goods-related services,Q4,Fourth Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,15603.408962

In [6]:
##### criar uma lista com os nomes do todas as colunas para ter um acesso rápido a tais informações
cabeçalho = list(tabela_bruta_comercio_internacional.columns.values)
print(cabeçalho)

#analisando a tabela, ficoou claro que ela mistura diferentes tipos de informações, para lidar com isso,
#criar lista de categorias, com o intuito de dividir o data frame em vários outros para cada categoria,
#obtendo, assim, informações mais úteis

#para tanto, transformar a primeira coluna em uma lista
lista_categorias_repetidos = tabela_bruta_comercio_internacional['Indicator Category'].tolist()

#os dados repetidos e o excesso de linhas torna difícil se aproveitar da lista
#eliminar elementos repetidos com list comp.
lista_categorias = []
[lista_categorias.append(categoria) for categoria in lista_categorias_repetidos if categoria not in lista_categorias]
print(lista_categorias)

['Indicator Category', 'Indicator Code', 'Indicator', 'Reporting Economy Code', 'Reporting Economy ISO3A Code', 'Reporting Economy', 'Partner Economy Code', 'Partner Economy ISO3A Code', 'Partner Economy', 'Product/Sector Classification Code', 'Product/Sector Classification', 'Product/Sector Code', 'Product/Sector', 'Period Code', 'Period', 'Frequency Code', 'Frequency', 'Unit Code', 'Unit', 'Year', 'Value Flag Code', 'Value Flag', 'Text Value', 'Value']
['Merchandise trade - indices and prices', 'Merchandise trade values', 'Trade in commercial services']

In [7]:
#tendo as categorias, usar df.loc para construir tabelas separadas de cada categoria

index_df_ic = tabela_bruta_comercio_internacional.loc[tabela_bruta_comercio_internacional['Indicator Category'] == str(lista_categorias[0])]
index_df_ic

,Indicator Category,Indicator Code,Indicator,Reporting Economy Code,Reporting Economy ISO3A Code,Reporting Economy,Partner Economy Code,Partner Economy ISO3A Code,Partner Economy,Product/Sector Classification Code,Product/Sector Classification,Product/Sector Code,Product/Sector,Period Code,Period,Frequency Code,Frequency,Unit Code,Unit,Year,Value Flag Code,Value Flag,Text Value,Value
0,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,NaN,NaN,NaN,126.432
1,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,004,AFG,Afghanistan,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,E,Estimate,NaN,85.260
2,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,NaN,NaN,NaN,138.571
3,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,012,DZA,Algeria,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,E,Estimate,NaN,104.676
4,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,016,ASM,American Samoa,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,E,Estimate,NaN,101.862
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299,Merchandise trade - indices and prices,ITS_MTP_QXVSA,"Merchandise export volume indices, seasonally adjusted - quarterly",997,NaN,Least-developed countries,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q1,First Quarter,Q,Quarterly,ID05Q1,2005Q1=100,2021,NaN,NaN,NaN,195.518
6300,Merchandise trade - indices and prices,ITS_MTP_QXVSA,"Merchandise export volume indices, seasonally adjusted - quarterly",997,NaN,Least-developed countries,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q2,Second Quarter,Q,Quarterly,ID05Q1,2005Q1=100,2021,NaN,NaN,NaN,198.815
6301,Merchandise trade - indices and prices,ITS_MTP_QXVSA,"Merchandise export volume indices, seasonally adjusted - quarterly",997,NaN,Least-developed countries,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q2,Second Quarter,Q,Quarterly,ID05Q1,2005Q1=100,2022,NaN,NaN,NaN,241.494
6302,Merchandise trade - indices and prices,ITS_MTP_QXVSA,"Merchandise export volume indices, seasonally adjusted - quarterly",997,NaN,Least-developed countries,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q3,Third Quarter,Q,Quarterly,ID05Q1,2005Q1=100,2021,NaN,NaN,NaN,196.402
6303,Merchandise trade - indices and prices,ITS_MTP_QXVSA,"Merchandise export volume indices, seasonally adjusted - quarterly",997,NaN,Least-developed countries,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q4,Fourth Quarter,Q,Quarterly,ID05Q1,2005Q1=100,2021,NaN,NaN,NaN,213.508

In [8]:
values_df_ic = tabela_bruta_comercio_internacional.loc[tabela_bruta_comercio_internacional['Indicator Category'] == str(lista_categorias[1])]
values_df_ic

,Indicator Category,Indicator Code,Indicator,Reporting Economy Code,Reporting Economy ISO3A Code,Reporting Economy,Partner Economy Code,Partner Economy ISO3A Code,Partner Economy,Product/Sector Classification Code,Product/Sector Classification,Product/Sector Code,Product/Sector,Period Code,Period,Frequency Code,Frequency,Unit Code,Unit,Year,Value Flag Code,Value Flag,Text Value,Value
6304,Merchandise trade values,ITS_MTV_AM,Merchandise imports by product group  annual,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,USM,Million US dollar,2021,NaN,NaN,NaN,2.258658e+07
6305,Merchandise trade values,ITS_MTV_AM,Merchandise imports by product group  annual,004,AFG,Afghanistan,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,USM,Million US dollar,2021,E,Estimate,NaN,5.574000e+03
6306,Merchandise trade values,ITS_MTV_AM,Merchandise imports by product group  annual,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,USM,Million US dollar,2021,NaN,NaN,NaN,7.718084e+03
6307,Merchandise trade values,ITS_MTV_AM,Merchandise imports by product group  annual,012,DZA,Algeria,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,USM,Million US dollar,2021,E,Estimate,NaN,3.600000e+04
6308,Merchandise trade values,ITS_MTV_AM,Merchandise imports by product group  annual,016,ASM,American Samoa,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,USM,Million US dollar,2021,E,Estimate,NaN,7.110000e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11001,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,970,NaN,Asia,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q1,First Quarter,Q,Quarterly,USM,Million US dollar,2022,NaN,NaN,NaN,2.185884e+06
11002,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,970,NaN,Asia,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q2,Second Quarter,Q,Quarterly,USM,Million US dollar,2022,NaN,NaN,NaN,2.349788e+06
11003,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,970,NaN,Asia,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q2,Second Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,2.065571e+06
11004,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,970,NaN,Asia,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q3,Third Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,2.188447e+06
11005,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,970,NaN,Asia,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q4,Fourth Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,2.369557e+06

In [9]:
serv_comerc_df_ic = tabela_bruta_comercio_internacional.loc[tabela_bruta_comercio_internacional['Indicator Category'] == str(lista_categorias[2])]
serv_comerc_df_ic

,Indicator Category,Indicator Code,Indicator,Reporting Economy Code,Reporting Economy ISO3A Code,Reporting Economy,Partner Economy Code,Partner Economy ISO3A Code,Partner Economy,Product/Sector Classification Code,Product/Sector Classification,Product/Sector Code,Product/Sector,Period Code,Period,Frequency Code,Frequency,Unit Code,Unit,Year,Value Flag Code,Value Flag,Text Value,Value
11006,Trade in commercial services,ITS_CS_AM6,Commercial services imports by sector and partner  annual,000,NaN,World,000,NaN,World,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),S,Memo item: Total services,A,Annual,A,Annual,USM,Million US dollar,2021,NaN,NaN,NaN,5.623458e+06
11007,Trade in commercial services,ITS_CS_AM6,Commercial services imports by sector and partner  annual,000,NaN,World,000,NaN,World,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SC,Transport,A,Annual,A,Annual,USM,Million US dollar,2021,NaN,NaN,NaN,1.374130e+06
11008,Trade in commercial services,ITS_CS_AM6,Commercial services imports by sector and partner  annual,000,NaN,World,000,NaN,World,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SC1,Sea transport,A,Annual,A,Annual,USM,Million US dollar,2021,NaN,NaN,NaN,7.043807e+05
11009,Trade in commercial services,ITS_CS_AM6,Commercial services imports by sector and partner  annual,000,NaN,World,000,NaN,World,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SC11,Passenger (Sea),A,Annual,A,Annual,USM,Million US dollar,2021,NaN,NaN,NaN,2.213825e+04
11010,Trade in commercial services,ITS_CS_AM6,Commercial services imports by sector and partner  annual,000,NaN,World,000,NaN,World,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SC12,Freight (Sea),A,Annual,A,Annual,USM,Million US dollar,2021,NaN,NaN,NaN,5.446202e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97659,Trade in commercial services,ITS_CS_QX,Commercial services exports by main sector  quarterly,927,NaN,Euro Area (19),ZX9,NaN,Extra Euro Area (19) Trade,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SPX4,Goods-related services,Q1,First Quarter,Q,Quarterly,USM,Million US dollar,2022,NaN,NaN,NaN,1.531211e+04
97660,Trade in commercial services,ITS_CS_QX,Commercial services exports by main sector  quarterly,927,NaN,Euro Area (19),ZX9,NaN,Extra Euro Area (19) Trade,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SPX4,Goods-related services,Q1,First Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,1.333043e+04
97661,Trade in commercial services,ITS_CS_QX,Commercial services exports by main sector  quarterly,927,NaN,Euro Area (19),ZX9,NaN,Extra Euro Area (19) Trade,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SPX4,Goods-related services,Q2,Second Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,1.360313e+04
97662,Trade in commercial services,ITS_CS_QX,Commercial services exports by main sector  quarterly,927,NaN,Euro Area (19),ZX9,NaN,Extra Euro Area (19) Trade,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SPX4,Goods-related services,Q3,Third Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,1.317543e+04
97663,Trade in commercial services,ITS_CS_QX,Commercial services exports by main sector  quarterly,927,NaN,Euro Area (19),ZX9,NaN,Extra Euro Area (19) Trade,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SPX4,Goods-related services,Q4,Fourth Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,1.560341e+04

In [10]:
#aqui, o mesmo raciocínio usado anteriormente foi feito para listar a coluna indicadores,
#isso é feito para as 3 divisões do DF original

lista_tipos_indices_repet = index_df_ic['Indicator'].tolist()
lista_tipos_indices = []
[lista_tipos_indices.append(indice) for indice in lista_tipos_indices_repet if indice not in lista_tipos_indices]
print(lista_tipos_indices)

['Merchandise import value chained indices - annual', 'Merchandise import value fixed-base indices - annual', 'Merchandise import volume chained indices - annual', 'Merchandise import volume fixed-base indices - annual', 'Merchandise import volume change - annual', 'Merchandise import unit value chained indices - annual', 'Merchandise import unit value fixed-base indices - annual', 'Merchandise export unit value chained indices - annual', 'Merchandise export unit value fixed-base indices - annual', 'Merchandise export value chained indices - annual', 'Merchandise export value fixed-base indices - annual', 'Merchandise export volume chained indices - annual', 'Merchandise export volume fixed-base indices - annual', 'Merchandise export volume change - annual', 'Import price changes of manufactured goods - monthly', 'Import price indices of manufactured goods - monthly', 'Export price changes of manufactured goods - monthly', 'Export price indices of manufactured goods - monthly', 'Merchandise import volume indices, not seasonally adjusted - quarterly', 'Merchandise import volume indices, seasonally adjusted - quarterly', 'Merchandise export volume indices, not seasonally adjusted - quarterly', 'Merchandise export volume indices, seasonally adjusted - quarterly']

In [11]:
lista_ind_valores_comerc_repet = values_df_ic['Indicator'].tolist()
lista_ind_valores_comerc = []
[lista_ind_valores_comerc.append(critério) for critério in lista_ind_valores_comerc_repet if critério not in lista_ind_valores_comerc]
print(lista_ind_valores_comerc)

['Merchandise imports by product group \x96 annual', 'Merchandise exports by product group \x96 annual', 'Total merchandise imports - monthly', 'Total merchandise exports - monthly', 'Total merchandise imports - quarterly', 'Total merchandise exports - quarterly']

In [12]:
lista_cs_ind_rep = serv_comerc_df_ic['Indicator'].tolist()
lista_cs_ind = []
[lista_cs_ind.append(critério) for critério in lista_cs_ind_rep if critério not in lista_cs_ind]
print(lista_cs_ind)

['Commercial services imports by sector and partner \x96 annual', 'Commercial services exports by sector and partner \x96 annual', 'Commercial services imports of selected economies \x96 monthly', 'Commercial services imports of selected economies (growth) \x96 monthly', 'Commercial services exports of selected economies \x96 monthly', 'Commercial services exports of selected economies (growth) \x96 monthly', 'Commercial services imports by main sector \x96 quarterly', 'Commercial services exports by main sector \x96 quarterly']

In [13]:
#Avaliando o número de indicadores de cada parte:

print('indicadores de índice: ',len(lista_tipos_indices))
print('indicadores de valores comerciais: ',len(lista_ind_valores_comerc))
print('indicadores de serviços comerciais: ',len(lista_cs_ind))

indicadores de índice:  22
indicadores de valores comerciais:  6
indicadores de serviços comerciais:  8

In [14]:
#agora, será feita uma segmentação mais direcionada dos dados, para obter as balanças comerciais dos países
#primeiro para produtos e depois para serviços comerciais

Tot_m_expt_monthly = values_df_ic.loc[values_df_ic['Indicator'] == 'Total merchandise exports - monthly']
Tot_m_expt_monthly

,Indicator Category,Indicator Code,Indicator,Reporting Economy Code,Reporting Economy ISO3A Code,Reporting Economy,Partner Economy Code,Partner Economy ISO3A Code,Partner Economy,Product/Sector Classification Code,Product/Sector Classification,Product/Sector Code,Product/Sector,Period Code,Period,Frequency Code,Frequency,Unit Code,Unit,Year,Value Flag Code,Value Flag,Text Value,Value
8292,Merchandise trade values,ITS_MTV_MX,Total merchandise exports - monthly,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M01,January,M,Monthly,USM,Million US dollar,2021,NaN,NaN,NaN,233.995820
8293,Merchandise trade values,ITS_MTV_MX,Total merchandise exports - monthly,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M01,January,M,Monthly,USM,Million US dollar,2022,NaN,NaN,NaN,326.086918
8294,Merchandise trade values,ITS_MTV_MX,Total merchandise exports - monthly,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M02,February,M,Monthly,USM,Million US dollar,2021,NaN,NaN,NaN,242.379575
8295,Merchandise trade values,ITS_MTV_MX,Total merchandise exports - monthly,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M02,February,M,Monthly,USM,Million US dollar,2022,NaN,NaN,NaN,348.856798
8296,Merchandise trade values,ITS_MTV_MX,Total merchandise exports - monthly,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M03,March,M,Monthly,USM,Million US dollar,2022,NaN,NaN,NaN,427.600902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9747,Merchandise trade values,ITS_MTV_MX,Total merchandise exports - monthly,918,EEC,European Union,EUT,NaN,Extra EU Trade,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M08,August,M,Monthly,USM,Million US dollar,2021,NaN,NaN,NaN,196279.382520
9748,Merchandise trade values,ITS_MTV_MX,Total merchandise exports - monthly,918,EEC,European Union,EUT,NaN,Extra EU Trade,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M09,September,M,Monthly,USM,Million US dollar,2021,NaN,NaN,NaN,219762.848800
9749,Merchandise trade values,ITS_MTV_MX,Total merchandise exports - monthly,918,EEC,European Union,EUT,NaN,Extra EU Trade,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M10,October,M,Monthly,USM,Million US dollar,2021,NaN,NaN,NaN,221419.702260
9750,Merchandise trade values,ITS_MTV_MX,Total merchandise exports - monthly,918,EEC,European Union,EUT,NaN,Extra EU Trade,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M11,November,M,Monthly,USM,Million US dollar,2021,NaN,NaN,NaN,230248.800860
9751,Merchandise trade values,ITS_MTV_MX,Total merchandise exports - monthly,918,EEC,European Union,EUT,NaN,Extra EU Trade,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M12,December,M,Monthly,USM,Million US dollar,2021,NaN,NaN,NaN,224165.780640

In [15]:
Tot_m_imp_monthly = values_df_ic.loc[values_df_ic['Indicator'] == 'Total merchandise imports - monthly']
Tot_m_imp_monthly

,Indicator Category,Indicator Code,Indicator,Reporting Economy Code,Reporting Economy ISO3A Code,Reporting Economy,Partner Economy Code,Partner Economy ISO3A Code,Partner Economy,Product/Sector Classification Code,Product/Sector Classification,Product/Sector Code,Product/Sector,Period Code,Period,Frequency Code,Frequency,Unit Code,Unit,Year,Value Flag Code,Value Flag,Text Value,Value
6832,Merchandise trade values,ITS_MTV_MM,Total merchandise imports - monthly,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M01,January,M,Monthly,USM,Million US dollar,2022,NaN,NaN,NaN,512.473273
6833,Merchandise trade values,ITS_MTV_MM,Total merchandise imports - monthly,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M01,January,M,Monthly,USM,Million US dollar,2021,NaN,NaN,NaN,447.766395
6834,Merchandise trade values,ITS_MTV_MM,Total merchandise imports - monthly,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M02,February,M,Monthly,USM,Million US dollar,2021,NaN,NaN,NaN,511.202026
6835,Merchandise trade values,ITS_MTV_MM,Total merchandise imports - monthly,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M02,February,M,Monthly,USM,Million US dollar,2022,NaN,NaN,NaN,642.660725
6836,Merchandise trade values,ITS_MTV_MM,Total merchandise imports - monthly,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M03,March,M,Monthly,USM,Million US dollar,2022,NaN,NaN,NaN,749.462231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8287,Merchandise trade values,ITS_MTV_MM,Total merchandise imports - monthly,918,EEC,European Union,EUT,NaN,Extra EU Trade,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M08,August,M,Monthly,USM,Million US dollar,2021,NaN,NaN,NaN,204600.891600
8288,Merchandise trade values,ITS_MTV_MM,Total merchandise imports - monthly,918,EEC,European Union,EUT,NaN,Extra EU Trade,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M09,September,M,Monthly,USM,Million US dollar,2021,NaN,NaN,NaN,219771.558600
8289,Merchandise trade values,ITS_MTV_MM,Total merchandise imports - monthly,918,EEC,European Union,EUT,NaN,Extra EU Trade,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M10,October,M,Monthly,USM,Million US dollar,2021,NaN,NaN,NaN,228282.273810
8290,Merchandise trade values,ITS_MTV_MM,Total merchandise imports - monthly,918,EEC,European Union,EUT,NaN,Extra EU Trade,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M11,November,M,Monthly,USM,Million US dollar,2021,NaN,NaN,NaN,241594.202720
8291,Merchandise trade values,ITS_MTV_MM,Total merchandise imports - monthly,918,EEC,European Union,EUT,NaN,Extra EU Trade,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,M12,December,M,Monthly,USM,Million US dollar,2021,NaN,NaN,NaN,239110.912080

In [51]:
#df_bc_mensal = Tot_m_expt_monthly[['Reporting Economy', 'Period Code', 'Period', 'Unit', 'Year']].copy()
df_bc_mensal = Tot_m_expt_monthly[['Reporting Economy', 'Period Code', 'Period', 'Unit', 'Year']].reset_index(drop=True)

df_bc_mensal['Export Values'] = Tot_m_expt_monthly['Value'].reset_index(drop=True)
df_bc_mensal['Import Values'] = Tot_m_imp_monthly['Value'].reset_index(drop=True)

df_bc_mensal

,Reporting Economy,Period Code,Period,Unit,Year,Export Values,Import Values
0,Albania,M01,January,Million US dollar,2021,233.995820,512.473273
1,Albania,M01,January,Million US dollar,2022,326.086918,447.766395
2,Albania,M02,February,Million US dollar,2021,242.379575,511.202026
3,Albania,M02,February,Million US dollar,2022,348.856798,642.660725
4,Albania,M03,March,Million US dollar,2022,427.600902,749.462231
...,...,...,...,...,...,...,...
1455,European Union,M08,August,Million US dollar,2021,196279.382520,204600.891600
1456,European Union,M09,September,Million US dollar,2021,219762.848800,219771.558600
1457,European Union,M10,October,Million US dollar,2021,221419.702260,228282.273810
1458,European Union,M11,November,Million US dollar,2021,230248.800860,241594.202720
1459,European Union,M12,December,Million US dollar,2021,224165.780640,239110.912080

In [61]:
df_bc_mensal['Saldo'] = df_bc_mensal['Export Values'] - df_bc_mensal['Import Values']

In [63]:
df_bc_mensal = df_bc_mensal.sort_values(by = ['Year', 'Reporting Economy', 'Period Code']).reset_index(drop=True)
df_bc_mensal

,Reporting Economy,Period Code,Period,Unit,Year,Export Values,Import Values,Saldo
0,Albania,M01,January,Million US dollar,2021,233.995820,512.473273,-278.477453
1,Albania,M02,February,Million US dollar,2021,242.379575,511.202026,-268.822451
2,Albania,M03,March,Million US dollar,2021,306.073000,622.397413,-316.324413
3,Albania,M04,April,Million US dollar,2021,278.879735,611.663490,-332.783755
4,Albania,M05,May,Million US dollar,2021,324.417373,611.597601,-287.180228
...,...,...,...,...,...,...,...,...
1455,Viet Nam,M03,March,Million US dollar,2022,34711.505927,32662.639963,2048.865964
1456,Viet Nam,M04,April,Million US dollar,2022,33316.784815,32467.678962,849.105853
1457,Viet Nam,M05,May,Million US dollar,2022,30917.898803,32615.979741,-1698.080938
1458,Viet Nam,M06,June,Million US dollar,2022,32843.366862,32232.750117,610.616745
1459,Viet Nam,M07,July,Million US dollar,2022,30607.490009,30533.121209,74.368800

In [ ]:
import matplotlib.pyplot as plt

In [71]:
tabela_bruta_comercio_internacional[tabela_bruta_comercio_internacional['Reporting Economy Code'] == '918']

,Indicator Category,Indicator Code,Indicator,Reporting Economy Code,Reporting Economy ISO3A Code,Reporting Economy,Partner Economy Code,Partner Economy ISO3A Code,Partner Economy,Product/Sector Classification Code,Product/Sector Classification,Product/Sector Code,Product/Sector,Period Code,Period,Frequency Code,Frequency,Unit Code,Unit,Year,Value Flag Code,Value Flag,Text Value,Value
210,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,918,EEC,European Union,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,NaN,NaN,NaN,125.264
211,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,918,EEC,European Union,918,EEC,European Union,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,NaN,NaN,NaN,124.136
212,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,918,EEC,European Union,EUT,NaN,Extra EU Trade,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,NaN,NaN,NaN,127.100
465,Merchandise trade - indices and prices,ITS_MTP_AMF,Merchandise import value fixed-base indices - annual,918,EEC,European Union,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,ID15,2015=100,2021,NaN,NaN,NaN,140.085
466,Merchandise trade - indices and prices,ITS_MTP_AMF,Merchandise import value fixed-base indices - annual,918,EEC,European Union,918,EEC,European Union,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,ID15,2015=100,2021,NaN,NaN,NaN,142.527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61555,Trade in commercial services,ITS_CS_MM_GR,Commercial services imports of selected economies (growth)  monthly,918,EEC,European Union,EUT,NaN,Extra EU Trade,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),S,Memo item: Total services,M08,August,M,Monthly,YOY,% change over the same period of the previous year,2021,NaN,NaN,NaN,28.000
61556,Trade in commercial services,ITS_CS_MM_GR,Commercial services imports of selected economies (growth)  monthly,918,EEC,European Union,EUT,NaN,Extra EU Trade,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),S,Memo item: Total services,M09,September,M,Monthly,YOY,% change over the same period of the previous year,2021,NaN,NaN,NaN,16.000
61557,Trade in commercial services,ITS_CS_MM_GR,Commercial services imports of selected economies (growth)  monthly,918,EEC,European Union,EUT,NaN,Extra EU Trade,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),S,Memo item: Total services,M10,October,M,Monthly,YOY,% change over the same period of the previous year,2021,NaN,NaN,NaN,13.000
61558,Trade in commercial services,ITS_CS_MM_GR,Commercial services imports of selected economies (growth)  monthly,918,EEC,European Union,EUT,NaN,Extra EU Trade,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),S,Memo item: Total services,M11,November,M,Monthly,YOY,% change over the same period of the previous year,2021,NaN,NaN,NaN,12.000
61559,Trade in commercial services,ITS_CS_MM_GR,Commercial services imports of selected economies (growth)  monthly,918,EEC,European Union,EUT,NaN,Extra EU Trade,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),S,Memo item: Total services,M12,December,M,Monthly,YOY,% change over the same period of the previous year,2021,NaN,NaN,NaN,5.000

In [73]:
lista_rep_RE = tabela_bruta_comercio_internacional['Reporting Economy'].tolist()
lista_RE = []
[lista_RE.append(economy) for economy in lista_rep_RE if economy not in lista_RE]
print(lista_RE)

['World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Angola', 'Antigua and Barbuda', 'Azerbaijan', 'Argentina', 'Australia', 'Austria', 'Bahamas', 'Bahrain, Kingdom of', 'Bangladesh', 'Armenia', 'Barbados', 'Belgium', 'Bermuda', 'Bhutan', 'Bolivia, Plurinational State of', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Belize', 'Solomon Islands', 'Brunei Darussalam', 'Bulgaria', 'Myanmar', 'Burundi', 'Belarus', 'Cambodia', 'Cameroon', 'Canada', 'Cabo Verde', 'Cayman Islands', 'Central African Republic', 'Sri Lanka', 'Chad', 'Chile', 'China', 'Chinese Taipei', 'Colombia', 'Comoros', 'Congo', 'Democratic Republic of the Congo', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Benin', 'Denmark', 'Dominica', 'Dominican Republic', 'Ecuador', 'El Salvador', 'Equatorial Guinea', 'Ethiopia', 'Eritrea', 'Estonia', 'Fiji', 'Finland', 'France', 'French Polynesia', 'Djibouti', 'Gabon', 'Georgia', 'The Gambia', 'Germany', 'Ghana', 'Kiribati', 'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', "Côte d'Ivoire", 'Jamaica', 'Japan', 'Kazakhstan', 'Jordan', 'Kenya', "Korea, Democratic People's Republic of", 'Korea, Republic of', 'Kuwait, the State of', 'Kyrgyz Republic', "Lao People's Democratic Republic", 'Lebanese Republic', 'Lesotho', 'Latvia', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macao, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Mongolia', 'Moldova, Republic of', 'Montserrat', 'Morocco', 'Mozambique', 'Oman', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'Curaçao', 'Aruba, the Netherlands with respect to', 'Saint Martin', 'New Caledonia', 'Vanuatu', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norway', 'Northern Mariana Islands', 'Micronesia, Federated States of', 'Marshall Islands', 'Palau', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Guinea-Bissau', 'Timor-Leste', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Sao Tomé and Principe', 'Saudi Arabia, Kingdom of', 'Senegal', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic', 'Viet Nam', 'Slovenia', 'South Africa', 'Zimbabwe', 'Spain', 'Sudan', 'Suriname', 'Eswatini', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'United Arab Emirates', 'Tunisia', 'Türkiye', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'North Macedonia', 'Egypt', 'United Kingdom', 'Tanzania', 'United States of America', 'Burkina Faso', 'Uruguay', 'Uzbekistan', 'Venezuela, Bolivarian Republic of', 'Samoa', 'Yemen', 'Serbia', 'Montenegro', 'Zambia', 'WTO Members', 'WTO Observer governments', 'Europe', 'Commonwealth of Independent States (CIS), including certain associate and former member States', 'European Union', 'Euro Area (19)', 'North America', 'South and Central America and the Caribbean', 'Andean Community (ANDEAN)', 'Central American Common Market (CACM)', 'North American Free Trade Agreement (NAFTA)', 'Caribbean Community (CARICOM)', 'Pacific Alliance', 'ECCAS (Economic Community of Central African States)', 'Southern Common Market (MERCOSUR) excluding Venezuela, Bolivarian Republic of', 'OPEC (Organization of the Petroleum Exporting Countries)', 'G-7 (Group of Seven)', 'Four East Asian traders', 'Six East Asian traders', 'Africa', 'West African Economic and Monetary Union (WAEMU)', 'Common Market for Eastern and Southern Africa (COMESA)', 'West African Economic Community (ECOWAS)', 'Southern African Development Community (SADC)', 'African, Caribbean and Pacific States (ACP)', 'Central African Economic and Monetary Community (CAEMC)', 'Middle East', 'Gulf Cooperation Council (GCC)', 'Asia', 'Association of Southeast Asian Nations (ASEAN)', 'South Asian Association for Regional Cooperation (SAARC)', 'Asia-Pacific Economic Cooperation (APEC)', 'BRIC members', 'BRICS members', 'Australia and New Zealand', 'G-20', 'Africa, CIS and Middle East', 'Least-developed countries', 'LDC exporters of agriculture', 'LDC non-fuel mineral exporters', 'LDC exporters of manufactures', 'LDC oil exporters', 'Other Africa', 'Other Asia', 'Other CIS', 'Non-EU south-eastern Europe', 'Non-EU western Europe', 'Virgin Islands, British', 'Gibraltar', 'Somalia', 'European Free Trade Association (EFTA)', 'Andorra', 'Bonaire, Sint Eustatius and Saba', 'Anguilla', 'Tokelau', 'Turks and Caicos Islands', 'Wallis and Futuna Islands', 'OIC (Organisation of Islamic Cooperation)', 'Landlocked developing countries', 'South Sudan']

In [75]:
lista_rep_REcode = tabela_bruta_comercio_internacional['Reporting Economy Code'].tolist()
lista_REcode = []
[lista_REcode.append(economy) for economy in lista_rep_REcode if economy not in lista_REcode]
print(lista_REcode)

['000', '004', '008', '012', '016', '024', '028', '031', '032', '036', '040', '044', '048', '050', '051', '052', '056', '060', '064', '068', '070', '072', '076', '084', '090', '096', '100', '104', '108', '112', '116', '120', '124', '132', '136', '140', '144', '148', '152', '156', '158', '170', '174', '178', '180', '184', '188', '191', '192', '196', '203', '204', '208', '212', '214', '218', '222', '226', '231', '232', '233', '242', '246', '250', '258', '262', '266', '268', '270', '276', '288', '296', '300', '304', '308', '316', '320', '324', '328', '332', '340', '344', '348', '352', '356', '360', '364', '368', '372', '376', '380', '384', '388', '392', '398', '400', '404', '408', '410', '414', '417', '418', '422', '426', '428', '430', '434', '440', '442', '446', '450', '454', '458', '462', '466', '470', '478', '480', '484', '496', '498', '500', '504', '508', '512', '516', '520', '524', '528', '531', '533', '534', '540', '548', '554', '558', '562', '566', '570', '578', '580', '583', '584', '585', '586', '591', '598', '600', '604', '608', '616', '620', '624', '626', '634', '642', '643', '646', '659', '662', '666', '670', '678', '682', '686', '690', '694', '702', '703', '704', '705', '710', '716', '724', '736', '740', '748', '752', '756', '760', '762', '764', '768', '776', '780', '784', '788', '792', '795', '798', '800', '804', '807', '818', '826', '834', '840', '854', '858', '860', '862', '882', '887', '892', '893', '894', '900', '902', '905', '910', '918', '927', '931', '932', '937', '938', '940', '941', '942', '943', '944', '945', '946', '948', '949', '950', '957', '958', '959', '961', '962', '964', '965', '966', '970', '975', '977', '980', '981', '982', '983', '985', '986', '997', 'LAX', 'LFX', 'LMX', 'LOX', 'OAF', 'OAS', 'OCI', 'OSE', 'OWE', '092', '292', '706', '923', '020', '535', '660', '772', '796', '876', '947', '992', '728', 410, 428, 440, 442, 470, 496, 504, 586, 608, 616, 620, 642, 643, 703, 705, 724, 752, 792, 800, 804, 807, 826, 834, 840, 892, 918, 927, 36, 50, 56, 76, 100, 112, 124, 156, 191, 203, 208, 233, 246, 250, 276, 300, 348, 356, 380, 392, 404, 4, 8, 12, 24, 31, 32, 40, 44, 51, 60, 64, 68, 70, 72, 84, 90, 96, 104, 116, 132, 144, 152, 158, 170, 188, 196, 214, 218, 222, 231, 242, 268, 270, 288, 320, 324, 328, 332, 340, 344, 352, 360, 364, 368, 372, 376, 388, 398, 400, 414, 417, 418, 426, 430, 446, 450, 458, 480, 484, 498, 508, 516, 524, 528, 531, 533, 534, 548, 554, 558, 566, 578, 591, 598, 600, 604, 626, 634, 646, 678, 682, 690, 702, 704, 710, 716, 736, 740, 748, 756, 762, 764, 776, 780, 788, 818, 858, 860, 882, 893, 894]

In [80]:
df = tabela_bruta_comercio_internacional.drop_duplicates(subset=['Reporting Economy','Reporting Economy Code'])
df[['Reporting Economy','Reporting Economy Code']]

      Reporting Economy Reporting Economy Code
0                 World                    000
1           Afghanistan                    004
2               Albania                    008
3               Algeria                    012
4        American Samoa                    016
...                 ...                    ...
87500           Uruguay                    858
87575        Uzbekistan                    860
87650             Samoa                    882
87793        Montenegro                    893
87868            Zambia                    894

[415 rows x 2 columns]

In [84]:
 tabela_bruta_comercio_internacional[tabela_bruta_comercio_internacional['Reporting Economy Code'].str.contains('992', na = False)]

,Indicator Category,Indicator Code,Indicator,Reporting Economy Code,Reporting Economy ISO3A Code,Reporting Economy,Partner Economy Code,Partner Economy ISO3A Code,Partner Economy,Product/Sector Classification Code,Product/Sector Classification,Product/Sector Code,Product/Sector,Period Code,Period,Frequency Code,Frequency,Unit Code,Unit,Year,Value Flag Code,Value Flag,Text Value,Value
6557,Merchandise trade values,ITS_MTV_AM,Merchandise imports by product group  annual,992,NaN,Landlocked developing countries,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,USM,Million US dollar,2021,NaN,NaN,NaN,250168.787953
6821,Merchandise trade values,ITS_MTV_AX,Merchandise exports by product group  annual,992,NaN,Landlocked developing countries,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,USM,Million US dollar,2021,NaN,NaN,NaN,219128.615821
26722,Trade in commercial services,ITS_CS_AM6,Commercial services imports by sector and partner  annual,992,NaN,Landlocked developing countries,000,NaN,World,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),S,Memo item: Total services,A,Annual,A,Annual,USM,Million US dollar,2021,NaN,NaN,NaN,63589.433840
26723,Trade in commercial services,ITS_CS_AM6,Commercial services imports by sector and partner  annual,992,NaN,Landlocked developing countries,000,NaN,World,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SC,Transport,A,Annual,A,Annual,USM,Million US dollar,2021,NaN,NaN,NaN,27547.966395
26724,Trade in commercial services,ITS_CS_AM6,Commercial services imports by sector and partner  annual,992,NaN,Landlocked developing countries,000,NaN,World,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SD,Travel,A,Annual,A,Annual,USM,Million US dollar,2021,NaN,NaN,NaN,9283.808049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44133,Trade in commercial services,ITS_CS_AX6,Commercial services exports by sector and partner  annual,992,NaN,Landlocked developing countries,000,NaN,World,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SL,Memo item: Government goods and services n.i.e.,A,Annual,A,Annual,USM,Million US dollar,2021,NaN,NaN,NaN,2134.821493
44134,Trade in commercial services,ITS_CS_AX6,Commercial services exports by sector and partner  annual,992,NaN,Landlocked developing countries,000,NaN,World,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SOX,Commercial services,A,Annual,A,Annual,USM,Million US dollar,2021,NaN,NaN,NaN,33875.207774
44135,Trade in commercial services,ITS_CS_AX6,Commercial services exports by sector and partner  annual,992,NaN,Landlocked developing countries,000,NaN,World,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SOX1,Other commercial services,A,Annual,A,Annual,USM,Million US dollar,2021,NaN,NaN,NaN,8863.198496
44136,Trade in commercial services,ITS_CS_AX6,Commercial services exports by sector and partner  annual,992,NaN,Landlocked developing countries,000,NaN,World,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SPX1,Memo item: Other services,A,Annual,A,Annual,USM,Million US dollar,2021,NaN,NaN,NaN,10998.017989
44137,Trade in commercial services,ITS_CS_AX6,Commercial services exports by sector and partner  annual,992,NaN,Landlocked developing countries,000,NaN,World,BOP6,Services - Extended Balance of Payments Classification (EBOPS 2010),SPX4,Goods-related services,A,Annual,A,Annual,USM,Million US dollar,2021,NaN,NaN,NaN,1219.669355